*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background: linear-gradient(83deg, rgba(244,115,97,1) 0%, rgba(248,176,128,1) 100%);
  min-height: 100vh;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app{
  width: 90%;
}

.main{
  width: 100%;
  display: flex;
  justify-content: center;
}

#container{
  max-width: 35rem;
  min-height: 400px;
  width: 100%;
  background-color: #fefefe;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.1);
}

h1{
  font-size: 30px;
  width: 100%;
  text-align: center;
  padding: 1.5rem;
}

form{
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  transition: all ease-in-out 0.2s;

}

#search-input{
  width: 100%;
  padding-block: 0.45rem;
  padding-inline: 0.4rem;
  border-radius: 5px;
  border: solid;
  border-color: rgba(137, 137, 137,0.5);
  border-width: 3px;
  font-size: 16px;
}

#search-input:focus{
  border-color: black;
  border-width: 3px;
}

#search-btn{
  background-color: #f17364;
  color: white;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  border: none;
  border-radius: 5px;
  margin-left: 1rem;
  font-size: 16px;
  transition: all ease-in 0.3s;
}

#search-btn:hover{
  background-color: #ba4639;
  transition: all ease-in 0.3s;
}

.card{
  box-shadow: 0 2px 2px 2px rgba(0,0,0,0.2);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items:start;
  border-radius: 5px;
  animation: enter 2s ease;
  overflow: hidden;
  transition: all ease-in 1s;
}

.sound-button{
  background-color: #f17364;
  border-radius: 500px;
  padding: 0.5rem;
  padding-top: 0.6rem;
  padding-bottom: 0.3rem;
  border: none;
  transition: all ease-out 0.1s;
  align-self: center;
}

.sound-button svg{
  width: 30px;
  height: 30px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
  transition: all ease-out 0.1s;
}

.sound-button:hover{
  background-color: #ba4639;
  transform: scale(1.1);
  transition: all ease-in 0.2s;
}

.sound-button:hover svg{
  transition: all ease-in 0.2s;
}

.bold{
  font-weight: bold;
}

h2{
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.def-line{
  padding-block: 0.5rem;
}

.definition-block{
  padding-bottom: 0.5rem;
}

.empty-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 13rem;
}
.empty-container h1{
  color: #808080ac;
  padding: 1rem;
  font-size: 25px;
}

svg{
  width: 70px;
  height: 70px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(50%) contrast(100%);
}

img{
  width: 70px;
  height: 70px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(50%) contrast(100%);
}

h2 span{
  font-size: 16px;
  color: #8f8f8f;
  padding-left: 0.5rem
}


@keyframes enter {
  from{
    max-height: 0px;
  }
  to{
    max-height: 30rem;
  }
}
